@font-face {
    font-family:Y_one ;
    src: url(../fonts/Y_one);
}
@font-face {
    font-family:italy ;
    src: url(../fonts/Italiana);
}
@font-face{
    font-family:Mont ;
    src: url(../fonts/Montserrat);
}


